.container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.inputvalue {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(172, 171, 171);
  padding: 5px;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resetPassword {
  margin-top: 10px;

  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.resetPassword:disabled {
  cursor: not-allowed;
  background-color: rgb(148, 146, 146);
}

.headingText {
  font-size: 18px;
  font-weight: bolder;
}

.passwordHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createPassword {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createPassword input {
  width: 200px;
}

.createPassword label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
