.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(172, 171, 171, 0.5);
  z-index: 999;
}

.contentWrapper {
  width: 40vw;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  word-break: break-all;

  position: relative;
  padding: 10px;
}

.closeModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: rgb(52, 51, 51);
}

.closeModal:hover {
  background-color: black;
}
.blockTabs {
  display: flex;
}

.tabs {
  padding: 10px;
  text-align: center;
  width: 15%;
  background: white;
  cursor: pointer;
  /* border-bottom: 2px solid rgba(4, 239, 0, 0.274); */
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.activeTabs {
  background: white;
  /* border-bottom: 1px solid transparent; */
  border-bottom: 5px solid #1a7ef3;
  color: #1a7ef3;
  font-weight: bold;
}
button {
  border: none;
}

.contentTabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}
.activeContent {
  display: block;
}
.tabText {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 770px) {
  .contentWrapper {
    width: 92vw;
  }

  .blockTabs {
    display: flex;
  }

  .tabText {
    display: none;
  }
}
